*{padding: 0;
margin: 0;}
body,html{
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
    width:100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    background-color:white;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  
}
.header_inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header_logo img{
  display: flex;
  padding-top: 20px;
  max-width: 100%;
  height:400px;
  border-radius: 20%;
}
.Name{
  font-size: 48px;
}
.row {
  display: flex;
   flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}
.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: flex;
  clear: both;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #666;
  color: #ddd;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: flex;
}

/* Style the buttons */
.btn {
border: none;
outline: none;
padding: 12px 16px;
background-color: white;
cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
background-color: #666;
 color: white;
}
#myBtnContainer{
  padding-top: 30px;
}

.pad{padding-top: 30px;}

